$background-color: #ffffff;
$background-modal: #ffffff;
$background-primary: rgb(46, 45, 45) !default;
$primary-color: rgb(46, 45, 45) !default;
$secondary-color: #a4a4a4 !default;
$sucess-color: #2e9db6;
$secondary-accent-color: #706f6f !default;
$container-size: 15%;
