@import '../../../assets/global.scss';
.content {
    font-size: 16px;
    color: $secondary-color;

    .header-home {
        display: flex;
        flex-direction: row;

        .selected-home {
            margin-top: 8px;
            width: 100%;
        }
        .email-home {
            margin-top: 8px;
            width: 100%;
            cursor: pointer;
            text-decoration: underline;

            .email-div {
                font-size: 16px;
            }

            .email-div:hover {
                cursor: pointer;
                font-weight: bold;
            }
        }

        .search-home {
            width: 100%;
        }
    }    
}